@font-face {
    font-family: 'droid_sansregular';
    src: url('/fonts/admin/droid_sans/droidsans-webfont.eot');
    src: url('/fonts/admin/droid_sans/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/admin/droid_sans/droidsans-webfont.woff') format('woff'),
         url('/fonts/admin/droid_sans/droidsans-webfont.ttf') format('truetype'),
         url('/fonts/admin/droid_sans/droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html { overflow-y: scroll; }
body { margin:0 0 0 0;font-size: 62.5%;background:url('/images/admin/bg-light-mat.jpg') fixed #e1e1e1;}
body, button, input, select, textarea { font-family:sans-serif;color:#252525;}
img {
	border:0;
	vertical-align:text-bottom;
}
.container {
	margin:0 auto;
	padding:0 0;
	width:900px;
}
abbr {cursor:help;}
h1 {
	color:#fff;
	margin:10px 10px;	
}
h2 {
	color:#252525;
	margin:0 0 10px 0;
}
h3 {
	color:#252525;
	margin:0 0 10px 0;
}
header {
	position:fixed;
	top:0;left:0;
	width:100%;height:80px;
	background:#003363;
	padding:0;margin:0;
	color:#fff;
}
header section {
	float:left;	
}
header h1 {
	font-family: 'droid_sansregular', sans-serif;
	font-weight:300;
	font-size:2.8em;
	margin:10px 0 0 0;padding:0;
}
header h1 span {
	display:block;
	font-size:0.6em;
	text-transform:uppercase;
}
header aside {
	background:url('/images/admin/logo-ansta.png') no-repeat;
	width:99px;height:42px;
	margin:10px 0 0 0;
	float:right;
}
header aside span {
	display:none;
}

/*------------------------------------------
	   TAB STYLES
------------------------------------------*/

.tabDashboard {
	position:fixed;
	top:69px;left:50%;
	margin-left:53px;
}
.tabFrontend {
	position:fixed;
	top:69px;left:50%;
	margin-left:177px;
}
.tabBackend {
	position:fixed;
	top:69px;left:50%;
	margin-left:177px;
}
.tabTop {
	position:fixed;
	top:69px;left:50%;
	margin-left:286px;
}
.tabLogout {
	position:fixed;
	top:69px;left:50%;
	margin-left:352px;	
}

/*------------------------------------------
	   FOR NAVIGATION SEE TOOLBAR.CSS
------------------------------------------*/

.primary {
	position:absolute;
	top:150px;left:50%;
	
	width:650px;
	margin:0 0 0 -200px;padding:0 0 0 0;
	background:#003363;
	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.primary h1 .icon {
    padding: 0 7px 3px 0;
}
.primary section {
	min-height:200px;
	margin:5px 5px 5px 5px;padding:10px;
	background:#ebebeb;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.secondary {
	position:fixed;
	top:150px;left:50%;
	
	width:200px;
	margin:0 0 0 -450px;padding:0 0 0 0;
	background:#003363;
	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.secondary section {
	min-height:200px;
	width:170px;
	margin:5px 5px 5px 5px;padding:10px;
	background:#ebebeb;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.login {
	position:absolute;
	top:150px;left:50%;
	
	width:400px;
	margin:0 0 0 -200px;padding:0 0 0 0;
	background:#003363;
	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.login section {
	margin:5px 5px 5px 5px;padding:0 0 0 0;
	background:#ebebeb;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.login legend {display:none;}

.hint {
	font-size:0.9em;
	color:#999;
}

.module-pages.action-edit .field.name-metafollow,
.module-pages.action-edit .field.name-metaindex,
.module-pages.action-edit .field.name-metakeys____OFF,
.module-pages.action-edit .field.name-metadesc____OFF,
.module-pages.action-edit .field.name-metarevisit,
.module-pages.action-edit .field.name-content,
.module-pages.action-edit .field.name-parent,

.module-pages.action-seo .field.name-label,
.module-pages.action-seo .field.name-slug,
.module-pages.action-seo .field.name-content,
.module-pages.action-seo .field.name-parent,
.module-pages.action-seo .field.name-active,
.module-pages.action-seo .field.name-nav,
.module-pages.action-seo .field.name-footer,
.module-pages.action-seo .field.name-locked,
.module-pages.action-seo .field.name-use_module,
.module-pages.action-seo .field.name-pos,
.module-pages.action-seo .field.name-depth,
.module-pages.action-seo .field.name-url,

.module-pages.action-new .field.name-content,
.module-pages.action-new .field.name-parent,
.module-pages.action-new .field.name-depth,
.module-pages.action-new .field.name-url,
.module-pages.action-new .field.name-metafollow,
.module-pages.action-new .field.name-metaindex,
.module-pages.action-new .field.name-metakeys____OFF,
.module-pages.action-new .field.name-metadesc____OFF,
.module-pages.action-new .field.name-metarevisit,
.module-pages.action-new .field.name-locked,
.module-pages.action-new .field.name-depth,
.module-pages.action-new .field.name-url

{
	display:none;
}

.btn-cancel {float:left;margin:1em;}


/* Contain floats:h5bp.com/q */ 
.clearfix:before, .clearfix:after { content:"";display:table;}
.clearfix:after { clear:both;}
.clearfix { zoom:1;}

section:before, section:after { content:"";display:table;}
section:after { clear:both;}
section { zoom:1;}



/* =============================================================================
   Forms
   ========================================================================== */
form { margin:0;}
fieldset { border:0;margin:0;padding:0;}
/* Indicate that 'label' will shift focus to the associated form element */
label { cursor:pointer;}
/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend { border:0;*margin-left:-7px;padding:0;}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea { font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input { line-height:normal;*overflow:visible;}
/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input { *overflow:auto;}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer;-webkit-appearance:button;}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] { box-sizing:border-box;}
input[type="search"] { -webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration { -webkit-appearance:none;}
/* 
 * Remove inner padding and border in FF3/4:h5bp.com/l 
 */
button::-moz-focus-inner, input::-moz-focus-inner { border:0;padding:0;}
/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
textarea { overflow:auto;vertical-align:top;resize:vertical;}
/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color:#FFE;}
/* =============================================================================
   Tables
   ========================================================================== */
table { border-collapse:collapse;border-spacing:0;}
th, td { vertical-align:top;}

.primary p.date {
	font-size:0.8em;
	font-style:italic;
	margin:0;
	text-align:right;
}
.primary ul.tags, .primary ul.tags li {list-style: none outside none;margin:0 0 1em;padding:0;}
.primary ul.tags li {display:inline;}

.primary p.date a, .primary ul.tags a {color:#666;text-decoration:none;}
.primary p.date a:hover, .primary ul.tags a:hover {text-decoration:underline;}

.dashbox {
	background:#DADADA url("/images/admin/bg-light-mat.jpg") repeat 0 0;

	display:block;
	float:left;
	width:95px;
	height:100px;
	border:2px solid #555;
	border-radius:7px;
	margin:12px 0 12px 20px;
	position:relative;
}
.dashbox:hover {
	box-shadow: 0px 0px 5px 0px #BAC91E;
}
.dashbox a {
	display:block;
	padding-top:59px;
	height:41px;
	background:transparent url('/images/admin/missing-admin-icon-large.png') no-repeat center 10px;
	color:#555;
	text-decoration:none;
	font-family:oswald;
	font-size:14px;
	text-align:center;
	text-transform:uppercase;
	line-height:1.3em;
}
.dashbox .count {
	border-radius:20px;
	width:20px;
	height:20px;
	background-color:#F00;
	padding:3px;
	position:absolute;
	top:-10px;
	right:-10px;
	font-size:18px;
	font-family:sans-serif;
	font-weight:bold;
	color:#FFF;
	border:2px solid #FFF;
}
.dashbox .count-zero {
	background-color:#555;
	color:#FFF;
}

span.disabled { color:#BBB; }

select.list-filter { position:absolute;top:14px;right:16px;font-size:1.3em; }

table.tbldata { width:100%;border-top:1px solid #999;border-right:1px solid #999; }
table.tbldata th,table.tbldata td { border-bottom:1px solid #999;border-left:1px solid #999;padding:10px 0; }
table.tbldata th,table.tbldata td { border-bottom:1px solid #999;border-left:1px solid #999;padding:10px 0; }

table.tbldata .tblpos { text-align:center;width:35px; }
table.tbldata .tbltext { text-align:left;padding-left:5px; }
table.tbldata .tblaction { text-align:center;width:60px; }
table.tbldata .btn-newsub { text-align:center;width:100px; }

table.tbldata a { padding: 2px 0 3px 20px;text-decoration:none;color:#252525; }
table.tbldata a:hover { text-decoration:underline; }

tr.row1 td { background-color:#EEE; }
tr.row1:hover td { background-color:#FEE; }
tr.row0 td { background-color:#DDD; }
tr.row0:hover td { background-color:#FDD; }

tr.inactive td { background-image:url('/images/admin/inactive.png'); }

#body .primary form .field label:after { content:':'; }
#body .primary form .field .sublabel:after { content:''; }

.btn-new a {
    background: url("/images/admin/btn-new.png") no-repeat scroll 0 0 transparent;
}
.btn-edit a {
    background: url("/images/admin/btn-edit.png") no-repeat scroll 0 0 transparent;
}
.btn-delete a {
    background: url("/images/admin/btn-delete.png") no-repeat scroll 0 0 transparent;
}
.btn-seo a {
    background: url("/images/admin/btn-seo.png") no-repeat scroll 0 0 transparent;
}
.btn-newsub a {
    background: url("/images/admin/btn-new.png") no-repeat scroll 0 0 transparent;
}
.btn-view a {
    background: url("/images/admin/btn-view.png") no-repeat scroll 0 0 transparent;
}
.custom-btn a {
    background: url("/images/admin/btn-missing.png") no-repeat scroll 0 0 transparent;
}

custom-btn background-repeat:no-repeat;

p.errorbanner {
	color:#900;
	padding:10px 20px;
	border:1px solid #900;
	background-color:#FCC;
	display:block;
	text-align:center;
}
p.successbanner {
	color:#090;
	padding:10px 20px;
	border:1px solid #090;
	background-color:#CFC;
	display:block;
	text-align:center;
}

form fieldset {
	display:block;
}
form .field {
	display:block;
	clear:both;
	background-color:#EEE;
	position:relative;
	padding:3px 0 3px 5px;
	margin:3px 0;
}
form .field label {
	display:block;
	font-weight:bold;
	padding:3px 2px;
	font-size:1.1em;
}
form .field label span {
	padding:0 5px;
}
form .field .input {
}
form .field input,
form .field textarea,
form .field select {
	border:1px solid #999;
	font-size:1.3em;
	padding:3px 5px;
}
form .error-true input,
form .error-true textarea,
form .error-true select {
	border:1px dashed #F00;
}

form .type-text input { width:96%; }
form .type-password input { width:96%; }
form .type-readonly input { width:96%; }
form .type-textarea textarea { min-width:96%;min-height:150px;resize:both; }
form .type-select select { width:96%; }

form .type-readonly {
	padding:9px 5px;
}
form .type-readonly label {
	float:left;
	width:120px;
}
form .type-readonly input {
	float:left;
	width:500px;
	border:none;
	background:transparent;
	font-size:1.2em;
	padding:1px 2px;
	color:#888;
}
form .type-readonly .hint {
	float:left;
	width:95%;
}

form .field .error {
	display:block;
}
form .field .hint {
	display:block;
	padding:3px 2px;
}
form .type-hidden { display:none; }

form .type-yesno,
form .type-yes1no2 {
	padding:12px 5px;
}
form .type-yesno label,
form .type-yes1no2 label {
	float:left;
	width:120px;
}
form .type-yesno .sublabel,
form .type-yes1no2 .sublabel {
	font-weight:normal;
}
form .type-yesno .input label,
form .type-yes1no2 .input label {
	float:left;
	width:70px;
}
form .type-yesno .input label.yesno-no,
form .type-yes1no2 .input label.yesno-no {
	width:40px;
}
form .type-yesno .input input,
form .type-yes1no2 .input input {
	float:left;
	width:20px;
	margin:4px 0 0 0;
}
form .type-yesno .input .hint,
form .type-yes1no2 .input .hint {
	float:left;
	width:390px;
	padding:6px 0 0 0;
}
.yesno-yes,
.yes1no2-yes {
	text-align:right;
}

form .type-multi {
	
}
form .type-multi select {
	width:98%;
	height:200px;
}
.error {
	color:#E00;
	padding:5px 2px 0;
}
form .error-true .hint {
	color:#E00;
	font-weight:bold;
}
form .type-submit {
	float:right;
	margin:5px 20px;
	background-color:transparent;
}

form .field.separator-before,
form .field.separator-both {
	border-top:2px solid #003363;
}
form .field.separator-before label {
	font-size:1.5em;
}
form .field.separator-after,
form .field.separator-both {
	border-bottom:2px solid #003363;
}


/* Contain floats:h5bp.com/q */ 
form .field:before, form .field:after { content:"";display:table;}
form .field:after { clear:both;}
form .field { zoom:1;}


/* Secondary Styles - Hints/Tips and additional navigations */
.secondary ul {padding:0;list-style-type:none;}
.secondary ul li {padding:0;list-style-type:none;}
.secondary ul li a {display:block;font-size:1.3em;text-decoration:none;color:#292E34;padding:3px 0;}
.secondary ul li a:hover {background-color:#CCC;}

.image-image {float:right;padding-right:15px;}


/* Other custom styling */
.module-blogs_comments  tr.comment-approved.row0 td			{background-color:#CFC;}
.module-blogs_comments tr.comment-approved.row0:hover td	{background-color:#BFB;}
.module-blogs_comments tr.comment-approved.row1 td			{background-color:#AFA;}
.module-blogs_comments tr.comment-approved.row1:hover td	{background-color:#9F9;}

.module-blogs_comments tr.comment-pending.row0 td			{background-color:#FFC;}
.module-blogs_comments tr.comment-pending.row0:hover td		{background-color:#FFB;}
.module-blogs_comments tr.comment-pending.row1 td			{background-color:#FFA;}
.module-blogs_comments tr.comment-pending.row1:hover td		{background-color:#FF9;}

.module-blogs_comments tr.comment-rejected.row0 td			{background-color:#FCC;}
.module-blogs_comments tr.comment-rejected.row0:hover td	{background-color:#FBB;}
.module-blogs_comments tr.comment-rejected.row1 td			{background-color:#FAA;}
.module-blogs_comments tr.comment-rejected.row1:hover td	{background-color:#F99;}

.module-blogs_comments tr.comment-unknown.row0 td			{background-color:#CCC;}
.module-blogs_comments tr.comment-unknown.row0:hover td		{background-color:#BBB;}
.module-blogs_comments tr.comment-unknown.row1 td			{background-color:#AAA;}
.module-blogs_comments tr.comment-unknown.row1:hover td		{background-color:#999;}

.action-view .field { font-size:13px; }
.action-view .field span.label { font-weight:bold;font-size:14px; }

/* Super user styles */
.for-super-user {border:1px dashed #BAC91E;}
.dashbox.for-super-user {border:2px dashed #BAC91E;}

header .container { position: relative; }

header .container select {
	padding: 5px;
	width: 235px;
	position: absolute;
	top: 20px;
	left: 505px;
	height: 30px;
	font-size: 12px;
}

header .container input[type="submit"] {
	background: #bac91e;
	color: #000;
	border: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
	top: 20px;
	left: 750px;
	border-radius: 3px;
	text-align: center;
	width: 30px;
	height: 30px;
}

/* Colour picker */
.iris-picker{display:block;position:relative}.iris-picker,.iris-picker *{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input + .iris-picker{margin-top:4px}.iris-error{background-color:#ffafaf}.iris-border{border-radius:3px;border:1px solid #aaa;width:200px;background-color:#fff}.iris-picker-inner{position:absolute;top:0;right:0;left:0;bottom:0}.iris-border .iris-picker-inner{top:10px;right:10px;left:10px;bottom:10px}.iris-picker .iris-square-inner{position:absolute;left:0;right:0;top:0;bottom:0}.iris-picker .iris-square,.iris-picker .iris-slider,.iris-picker .iris-square-inner,.iris-picker .iris-palette{border-radius:3px;box-shadow:inset 0 0 5px rgba(0,0,0,0.4);height:100%;width:12.5%;float:left;margin-right:5%}.iris-picker .iris-square{width:76%;margin-right:10%;position:relative}.iris-picker .iris-square-inner{width:auto;margin:0}.iris-ie-9 .iris-square,.iris-ie-9 .iris-slider,.iris-ie-9 .iris-square-inner,.iris-ie-9 .iris-palette{box-shadow:none;border-radius:0}.iris-ie-9 .iris-square,.iris-ie-9 .iris-slider,.iris-ie-9 .iris-palette{outline:1px solid rgba(0,0,0,.1)}.iris-ie-lt9 .iris-square,.iris-ie-lt9 .iris-slider,.iris-ie-lt9 .iris-square-inner,.iris-ie-lt9 .iris-palette{outline:1px solid #aaa}.iris-ie-lt9 .iris-square .ui-slider-handle{outline:1px solid #aaa;background-color:#fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"}.iris-ie-lt9 .iris-square .iris-square-handle{background:none;border:3px solid #fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"}.iris-picker .iris-strip{margin-right:0;position:relative}.iris-picker .iris-strip .ui-slider-handle{position:absolute;background:none;right:-3px;left:-3px;border:4px solid #aaa;border-width:4px 3px;width:auto;height:6px;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.2);opacity:.9;z-index:5;cursor:ns-resize}.iris-strip .ui-slider-handle:before{content:" ";position:absolute;left:-2px;right:-2px;top:-3px;bottom:-3px;border:2px solid #fff;border-radius:3px}.iris-picker .iris-slider-offset{position:absolute;top:11px;left:0;right:0;bottom:-3px}.iris-picker .iris-square-handle{background:transparent;border:5px solid #aaa;border-radius:50%;border-color:rgba(128,128,128,.5);box-shadow:none;width:12px;height:12px;position:absolute;left:-10px;top:-10px;cursor:move;opacity:1;z-index:10}.iris-picker .ui-state-focus .iris-square-handle{opacity:.8}.iris-picker .iris-square-handle:hover{border-color:#999}.iris-picker .iris-square-value:focus .iris-square-handle{box-shadow:0 0 2px rgba(0,0,0,.75);opacity:.8}.iris-picker .iris-square-handle:hover::after{border-color:#fff}.iris-picker .iris-square-handle::after{position:absolute;bottom:-4px;right:-4px;left:-4px;top:-4px;border:3px solid #f9f9f9;border-color:rgba(255,255,255,.8);border-radius:50%;content:" "}.iris-picker .iris-square-value{width:8px;height:8px;position:absolute}.iris-ie-lt9 .iris-square-value,.iris-mozilla .iris-square-value{width:1px;height:1px}.iris-palette-container{position:absolute;bottom:0;left:0;margin:0;padding:0}.iris-border .iris-palette-container{left:10px;bottom:10px}.iris-picker .iris-palette{margin:0;cursor:pointer}

.iris-picker .iris-slider-offset {
	background: none;
	height: 100%;
	width: 100%;
	top: 0 !important;
	border: none;
	box-shadow: none;
}

.color-picker { color: #fff; }


/* Site Switcher 
.siteswitcher {
	position:absolute;
	top:0;
	right:0;
	border:1px solid red;
}
*/
/* Specific to the Data Module */

.module-data .primary section {
	font-size:1.3em;
}
.module-data .primary .left-50 {
	float:left;
	width:38%;
	padding:0 0 3em 0;
}
.module-data .primary .right-50 {
	float:right;
	width:58%;
	padding:0 0 3em 0;
}
.module-data .primary th {
	text-align:left;
}
.module-data .primary th,
.module-data .primary td {
	padding:0.1em 0.7em;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
}
.module-data .primary table {
	width:100%;
	border-top:1px solid #DDD;
	border-left:1px solid #DDD;
}




