#slideMenu {
	position:fixed;
	top:150px;left:0;
	
	width:250px;height:60%;min-height:200px;
	margin:0 0 0 0;padding:0 0;
	background:url('../images/admin/bg-dark-mat.jpg') #003363;
	
	-webkit-border-radius:0 20px 20px 0;
	-moz-border-radius:0 20px 20px 0;
	border-radius:0 20px 20px 0;
	
   -moz-box-shadow:    inset 0 0 15px #000000;
   -webkit-box-shadow: inset 0 0 15px #000000;
   box-shadow:         inset 0 0 15px #000000;
   
   color:#fff;
   z-index:100;
}
#slideMenu .tabMenu {
	float:right;
	margin:25px -40px 0 0;
	cursor:pointer;
}

#slideMenu h2 {
	margin:20px 0 10px 20px;
	font-family: sans-serif;
	font-weight:700;
	font-size:1.8em;
	font-size:1.2rem;
	color:#fff;
	text-transform:none;
}

#slideMenu section {height:100%;overflow:auto;}

#slideMenu ul {list-style-type:none;padding-left:35px;}

#slideMenu ul li {line-height:20px;margin-bottom:5px;font-size:0.7rem;}

#slideMenu ul li img {float:left;margin-right:10px;}

#slideMenu a {color:#fff;font-size:1.4em;line-height:20px;font-family:'Droid Sans', sans-serif;text-decoration:none;}
#slideMenu a:hover {color:#EFF1D1;}
	
	
/* Contain floats:h5bp.com/q */ 
.clearfix:before, .clearfix:after { content:"";display:table;}
.clearfix:after { clear:both;}
.clearfix { zoom:1;}


/* These rules affect the edit link on the front-end of the website */
.admin-edit {color:#FFF !important;background-color:transparent !important;}
.admin-edit a {
/*	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
*/	position:absolute;
	top: 10px;
	right: 5px;
	padding:5px 7px; 
	background-color:#d54949 !important;
	border:1px solid #bc3d3d;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	font-size:0.75em;
	margin-right:5px;
    font: arial,Arial,Helvetica,sans-serif !important;
    text-transform: uppercase;
	z-index:99px;
	border-radius: 3px;
	
}

.admin-edit a:after {
	font-family:FontAwesome;
	content: "\f040";
	color:#fff;
	font-weight: normal;
	margin-left: 5px;
	font-size: 11px;
}
.admin-edit a:hover {
	color:#fff;
	background: #a92b2b !important;
	opacity: 1;
}

.is_admin .entry-content { position: relative; }

.is_admin #content_P1_Z1 {
	padding-top: 0;
}

.home.is_admin a[rel="P1_Z1"] {
	top: 0;
	right: 0;
}
