/* Import the typography style sheet */
@import url("typography.css");

/* Add specific editor rules below here */

* {
	background-color:#FFF !important;
}
	
	ul, ol {
		margin-bottom:1.3em;
		list-style-type:none;
	}
	ul li {
		background:transparent url('/images/bullet-tick-orange.png') no-repeat 1px 4px;
		padding-left:20px;
	}
	ul li.tick-grey {
		background:transparent url('/images/bullet-tick-grey.png') no-repeat 1px 4px;
	}
	ol li {
		list-style-type:decimal;
		margin-left:20px;
	}

	ul.columns2 li {
		display:block;
		width:45%;
		float:left;
	}
	ul.columns3 li {
		display:block;
		width:30%;
		float:left;
	}
	ul.inline li {
		display:inline;
	}
	
	
	
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}