/* CSS Document */


/* Global */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 970px;
	margin: 0 auto;
}

body  {
	background: #000;
	font-size: 14px;
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif
}

a {
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: 	all 0.2s ease;
	-o-transition: 		all 0.2s ease;
	-ms-transition: 	all 0.2s ease;
	transition: 		all 0.2s ease;
}

a:hover {
	-webkit-transition: all 0.2s ease;
	-moz-transition: 	all 0.2s ease;
	-o-transition: 		all 0.2s ease;
	-ms-transition: 	all 0.2s ease;
	transition: 		all 0.2s ease;
}

p { margin: 0 0 1em; }

.row:after,
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="password"],
select,
textarea {
	padding: 5px;
	border: solid 1px #DDD;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0 0 20px 0;
}

.row { margin: 0 -5px; }

.column {
	float: left;
	padding: 0 5px;
}

.column.three { width: 33.33%; }

.column.four { width: 25%; }

img {
	max-width:100%;
	height: auto;
}




/* Buttons */

input[type="submit"],
.btn,
.button {
	background: #b21a2d;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0, 1);
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
	box-shadow: inset 0 1px 1px rgba(255,255,255, 0.3);
	border: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: 	all 0.2s ease;
	-o-transition: 		all 0.2s ease;
	-ms-transition: 	all 0.2s ease;
	transition: 		all 0.2s ease;
}

input[type="submit"]:hover,
.button:hover,
.btn:hover {
	opacity: 0.9;
}

/* Header */

.logo {
    float: left;
    margin: 20px 0 0;
    position: relative;
}

.logo-text {
	background: #fff;
    background: linear-gradient(to right, #FFFFFF 0%, #DFDFDF 100%) repeat scroll 0 0 transparent;
    border-radius: 0 10px 10px 0;
    color: #231F20;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin: 12px 0 30px 50px;
    padding: 10px 70px 10px 30px;
}
.logo-icon {
	position:absolute;
	top:0;
	left:0;
}

.cart {
	float: right;
}

.cart-inner {
	width: 275px;
	padding: 10px;
	padding-left: 63px;
	border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	background-clip: padding-box;
	background: #333;
	position: relative;
	min-height: 47px;
	color: #808080;
	font-size: 12px;
}

.cart .description {
	border-left: 1px solid #000;
	margin-top: -10px;
	margin-left: -10px;
	padding: 10px 0 2px 10px;
}

.cart span {
	color:#FFF;

}

.cart .count {
	font-size: 30px;
	line-height: 30px;
	float: left;
	margin-right: 10px;
	text-shadow: 0 1px 1px rgba(0,0,0, 1);
}

.cart p {
	margin: 0;
	line-height: 1.2em;
}


.cart-icon {
	background: url(../images/icon-cart.png) no-repeat;
	width: 27px;
	height: 25px;
	position: absolute;
	top: 12px;
	left: 10px;
}

.btn-view-cart {
	float: right;
	margin-top: 10px;
}

/* Testimonial & Banner */

.header-bottom {
	margin: 0;
	background: #FFF;
}

.testimonial {
	width: 240px;
	float: left;
}

.quote {
	height: 180px;
	font-style: italic;
	line-height: 1.2em;
	font-size: 14px;
	margin: 0 0 25px 0;
	position: relative;
	padding: 35px 25px;
	color: #000;
	color: rgba(0,0,0,0.5);
}
.site-statement {
	font-style: italic;
	line-height: 1.2em;
	font-size: 14px;
	margin: 0;
	position: relative;
	color: #000;
	color: rgba(0,0,0,0.6);
	line-height: 150%;
	height: 100%;
}

.quote-bg {
	background: #b21a2d;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.site-statement h2 {
	margin-bottom: 0;
	font-weight: normal;
	position: relative;
	z-index: 2;
	line-height: 120%;
	padding: 15px;
}

.quote:after {
	content: ' ';
	position: absolute;
	bottom: -15px;
	left: 40px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #b21a2d;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.quote p {
	margin: 0;
	position: relative;
	z-index: 10;
	overflow: hidden;
	max-height: 132px;
}

.quote-left,
.quote-right {
	position: absolute;
	z-index: 1;
	width: 53px;
	height: 41px;
}

.quote-left {
	top: 10px;
	left: 10px;
	background: url(../images/quote-left.png) no-repeat;
}

.quote-right {
	right: 5px;
	bottom: 10px;
	background: url(../images/quote-right.png) no-repeat;
}

.testimonial .by { margin: 0 0 0 10px; }

.testimonial .name {
	font-size: 16px;
	color: #808285;
	border-right: 1px solid #cc7b16;
	padding-right: 10px;
	margin-right: 5px;
}

.banner {
	width: 730px;
	float: right;
	height: 250px;
	overflow:hidden;
	background: #FFF;
	float: right;
}


/* Primary Menu */

.primary-menu-bar {
	background: #b21a2d;
	padding: 10px;
}

.primary-menu-bar .nav {
	padding: 0;
	font-size: 14px;
	margin: 0;
	float: left;
}

.primary-menu-bar .nav:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.primary-menu-bar .nav li {
	float: left;
	list-style: none;
	margin-right: 10px;
}

.primary-menu-bar .nav a {
	color: #FFF;
	padding: 8px 25px;
	line-height: 1em;
	border-radius: 3px;
	display: inline-block;
}

.primary-menu-bar .nav .active a,
.primary-menu-bar .nav a:hover {
	background:#FFF;
	color: #b21a2d;
}

/* Header Search */

.header .search-form {
	margin: 0;
	float: right;
	width: 160px;
	position: relative;
}

.header-search {
	background: #fff;
	background: rgba(255,255,255, 0.3);
	border-radius: 5px;
	border: none;
	margin: 3px 0 0 0;
	width: 100%;
	padding: 5px;
	height: 25px;
	color: #000;
	color: rgba(255,255,255,1);
}

.icon-search {
	position: absolute;
	top: 50%;
	margin: -6px 5px 0 0;
	right: 5px;
	width: 11px;
	height: 14px;
	color: #b21a2d;
}


/* Main Content Container */

.main {
	background: #fff;
	margin-bottom: 20px;
	position: relative;
}

.content {
	float:right;
	width: 730px;
	padding: 10px;
	position: relative;
}

.page-content { position: relative; }

.content-inner {
	float: left;
	width: 480px;
	padding-right: 10px;
	margin-top: 10px;
}

.content-inner p {
	font-size:12px;
	line-height: 1.4em;
}

.content-inner p:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.content-inner .caption { padding-top: 20px; }

.content-inner .sub-info { font-size:14px; }

.content-inner h1,
.content-inner h2,
.content-inner h3,
.content-inner h4,
.content-inner h5,
.content-inner h6 {
	color: #b21a2d;
	font-weight: normal;
	margin: 0 0 10px 0;
}

.content-inner h2 { font-size: 16px; }

.content-inner a {
	color: #b21a2d;
	text-decoration: underline;
}

.content-inner a:hover { text-decoration: none; }
/*
.page-title {
*/
h1 {
	color: #b21a2d;
	font-size: 24px;
	line-height: 1em;
	margin-bottom: 10px;
	font-weight: normal;

	padding: 0 0 15px 0;
	margin: 20px 0;
	font-weight: bold;
	border-bottom: 1px solid #eaeaea;
	color: #b21a2d;
}

.align-left {
	float: left;
	margin: 0 10px 0 0;
}

.content-sidebar {
	float: right;
	width: 230px;
	padding: 10px;
}

.content-sidebar-bg {
	position: absolute;
	width: 230px;
	height: 100%;
	top: 0;
	right: 0;
	background: #b21a2d;
	opacity: 0.1;
	filter: alpha(opacity=10);
	z-index: 1;
}

.content-sidebar .widget {
	position:relative;
	z-index: 10;
}

.content-sidebar .widget-title {
	border: none;
	color: #b21a2d;
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 15px 0;
	padding: 0;
}

.recent-posts .post-icon {
	float: left;
	margin-right:10px;
}

.recent-posts.main-posts .post {
	margin-right: 0;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.recent-posts.main-posts .post a img {
	-webkit-transition: all 0.2s ease;
	-moz-transition: 	all 0.2s ease;
	-o-transition: 		all 0.2s ease;
	-ms-transition: 	all 0.2s ease;
	transition: 		all 0.2s ease;
}

.recent-posts.main-posts .post a:hover img { opacity: 0.8; }

.recent-posts.main-posts .post:last-child {
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.recent-posts.main-posts .post-icon {
	float: none;
	margin: 0 0 20px 0;
}

.recent-posts.main-posts .post .entry-content p { padding: 0; }

.recent-posts .post {
	margin: 0 -10px 15px 0;
	padding: 0 0 15px 0;
	border-bottom: 1px solid #fff;
}

.recent-posts .post .entry-title {
	font-size: 12px;
	color: #b21a2d;
	margin:0;
}

.recent-posts .post .entry-content p {
	font-size: 12px;
	padding-left: 50px;
}

.recent-posts .post .entry-content p:last-child { margin: 0; }

.entry-title a { color: #b21a2d; }

.entry-title a:hover { color: #000; }

.entry-date {
	font-size: 12px;
	color: #000;
	margin-bottom:10px;
	font-weight: bold;
}

.more-link {
	color: #b21a2d;
	text-decoration: underline;
}

.more-link:hover { text-decoration: none; }

.blog-comments {
	margin-top: 30px;
}

.comment {
	background: #fafafa;
	padding: 20px;
	border: 1px solid #eaeaea;
	margin-top: -1px;
}

.comment-meta {
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.comment-content {
	font-size: 12px;
}

.comment p:last-child { margin: 0; }

.commentform {
	margin-top: 20px;
}

.commentform input[type="text"] {
	padding: 5px;
	width: 50%;
	margin-bottom: 20px;
	border: 1px solid #c0c0c0;
}

.commentform textarea {
	padding: 5px;
	width: 100%;
	resize: vertical;
	margin-bottom: 10px;
	height: 240px;
	border: 1px solid #c0c0c0;
}

.commentform label {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
	font-size: 11px;
}

.commentform fieldset {
	padding-top: 20px;
	padding-left: 0;
	padding-right: 0;
	border: none;
}

.commentform legend { font-weight: bold; font-size: 1.5em; }

/* Sidebar & Widgets */

.sidebar {
	background: #333;
	padding: 0 10px;
	float: left;
	width: 240px;
	font-size: 12px;
}

.sidebar:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 240px;
	height: 100%;
	background: #333;
	z-index: 1;
}

.sidebar a {
	color: #fff;
}

.sidebar .widget {
	position: relative;
	z-index: 10;
}

.widget-title {
	color: #b21a2d;
	font-weight: bold;
	font-size: 21px;
	margin: 0 -10px;
	padding: 8px 10px;
	border-bottom: 1px solid #000;
}

.widget-nav .nav {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
}

.widget-nav li {
	border-bottom: 1px solid #000;
}

.widget-nav a {
	padding: 5px 0 5px 10px;
	display: block;
}

.widget-nav a span {
	position: relative;
	padding-left: 20px;
}

.widget-nav a span:before {
	content: "\f105";
	font-family: FontAwesome;
	color: #FFF;
	text-align:center;
	position: absolute;
	top: 0;
	left: 0;
	width: 14px;
	height: 14px;
	background: #b21a2d;
	border: 1px solid #000;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255, 0.3);
}

.widget-nav .active > a,
.widget-nav .active > a:hover {
	background: #b21a2d;
	color: #000;
}

.widget-nav .active a span:before {
	content: "\f107";
	background: #000;
}

.widget-nav a:hover { background: #484848; }

.widget-nav .children {
	list-style: none;
	margin: 0;
	padding:0;
	border-top: 1px solid #000;
}

.widget-nav .children a {
	background: #484848;
	border-left: 4px solid #b21a2d;
}

.widget-nav .children a:hover { border-color: #FFF; }

.widget-nav .children a span { padding:0; }

.widget-nav .children a span:before {
	display: none;
}

.widget-nav .children li:last-child { border:none; }

/* Box Widget */

.sidebar .widget { margin-bottom: 10px; }

.box {
	background: #000;
	padding: 5px 10px;
	color: #FFF;
}

.box span {
	color: #b21a2d;
}

.box-contact {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5em;
}

.box-contact .btn {
	font-weight: normal;
}

.box-advert p {
	float: left;
	font-weight: bold;
	width: 60%;
	font-size: 12px;
	padding-right: 10px;
	line-height: 1.5em;
	margin:0;
}

.box-advert .btn {
	float: right;
	width: 40%;
	margin-top: 6px;
}

.box h5 {
	font-weight: normal;
	margin: 0 0 5px 0;
	font-size: 12px;
}

/* Footer */

.footer {
	background: #333;
	font-size: 12px;
	color: #FFF;
}

.footer a { color:#FFF; }

.footer .widget-title {
	background: #1f1f1f;
	margin: 0;
	padding: 5px 0;
	text-align: center;
}

.footer .widget {
	float:left;
}

.footer .widget-body {
	border-right: 1px solid #000;
	padding: 10px;
	padding: 10px 20px;
	height: 215px;
}

.footer .widget-other-sites { width: 390px; }
.footer .widget-quick-links { width: 180px; }
.footer .widget-contact-us { width: 220px; }
.footer .widget-social-media { width: 180px; }


/* Other Sites Widget */

.widget-other-sites .widget-title {
	text-align: left;
	padding-left: 10px;
}

.widget-other-sites .widget-body { padding-left: 10px; }

.widget-other-sites ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.widget-other-sites li {
	position: relative;
	padding: 10px 10px 10px 38px;
	float: left;
	width: 50%;
	word-wrap:break-word;
	height: 30px;
	margin-bottom: 10px;
}

.widget-other-sites li img {
	position: absolute;
	top: 5px;
	left: 0;
}

/* Contact Widget */

.widget-contact-us a {
	font-weight: bold;
	text-decoration: underline;
}

.widget-contact-us .vcard { margin-top: 10px; }

.widget-contact-us a:hover { text-decoration: none; }

/* Quick links widget */

.widget-quick-links ul {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
}

.widget-quick-links li {
	padding-left: 20px;
	margin-bottom: 15px;
	position: relative;
}

.widget-quick-links li:before {
	content: "\f105";
	font-family: FontAwesome;
	color: #FFF;
	text-align:center;
	position: absolute;
	top: 0;
	left: 0;
	width: 14px;
	height: 14px;
	background: #b21a2d;
	border: 1px solid #000;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255, 0.3);
}

.widget-quick-links a:hover { text-decoration: underline; }

/* Social Media Widget */

.widget-social-media ul {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
}

.widget-social-media li {
	position: relative;
	height: 30px;
	padding: 8px 0 10px 40px;
	margin-bottom: 10px;
}

.widget-social-media li img {
	position: absolute;
	top: 0;
	left: 0;
}

/* Info Boxes */

.info-box {
	position: relative;
	margin-bottom: 10px;
}

.info-box img { display: block; width: 100%; }

.info-box .overlay .btn-wrap {
	position: absolute;
	top: 10px;
	right: 5px;
	margin: 0;
	width: auto;
}


.info-box.product-box .overlay .btn-wrap {
	float: right;
	margin: 0;
	width: auto;
	position: static;
}

.info-box .overlay { min-height: 40px; }

.thumb:hover .overlay {
	background: #000;

}
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #000;
	background: rgba(0,0,0, 0.7);
	padding: 5px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: 	all 0.2s ease;
	-o-transition: 		all 0.2s ease;
	-ms-transition: 	all 0.2s ease;
	transition: 		all 0.2s ease;
}

.overlay h3 {
	color: #FFF;
	float: left;
	width: 65%;
	margin: 0;
	padding-right: 5px;
}

.overlay .btn-wrap {
	float: right;
	width: 35%;
	margin: 12px 0 0 0;
}

.info-box.alt .overlay {
	background: #b21a2d;
	position: relative;
}

.info-box.alt img { display: block; }

.info-box.alt .overlay h3 {
	float: none;
	font-weight: normal;
	font-size: 14px;
	width: auto;
	margin-bottom: 3px;
}

.info-box .sub-heading {
	color: #000;
	font-size: 12px;
}

.info-box .sub-heading a {
	color: #000;
	font-weight: bold;
}

.box-icon {
	background: #b21a2d;
	border: 1px solid #000;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255, 0.3);
	width: 14px;
	height: 14px;
	display: inline-block;
	text-align: center;
	color: #fff;
	line-height: 10px;
	font-size: 10px;
	margin-left: 5px;
}

/* Product Boxes */

.product-box,
.product-box:hover {
	-webkit-transition: all 0.2s ease;
	-moz-transition: 	all 0.2s ease;
	-o-transition: 		all 0.2s ease;
	-ms-transition: 	all 0.2s ease;
	transition: 		all 0.2s ease;
}

.product-box { border: 3px solid #fff; }
.product-box.special-offer { border: 3px solid #e90e14; }

.product-box img {

}

.product-box .overlay h3 {
	float: none;
	width: auto;
	text-align: center;
	margin-top: 5px;
	font-size: 14px;
}

.product-box .overlay {
	/*position: relative;*/
	background: #333;
	z-index: 50;
}

.product-box .overlay .price {
	float: left;
	color: #fff;
	font-weight: bold;
	font-size:18px;
}

.product-box .overlay .price span { font-size:11px; }

.product-box-bottom {
	padding: 15px 5px 5px;
	overflow: hidden;
}

.box-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
}

.special-offer-ribbon {
	position: absolute;
	top: -10px;
	left: -9px;
	background: url(../images/special-offer-ribbon.png) no-repeat;
	font-size: 13px;
	width: 123px;
	height: 124px;
}
/*
.category-title {
	padding: 0 0 15px 0;
	margin: 20px 0;
	font-weight: bold;
	border-bottom: 1px solid #eaeaea;
	color: #b21a2d;
}
*/


/* Pagination */

.pagination {
	list-style: none;
	margin: 10px 0 20px 0;
	padding: 0;
	text-align: right;
}

.pagination li,
.pagination a {
	display: inline-block;
}

.pagination a {
	font-weight: bold;
	padding: 2px 5px;
	color: #000;
}

.pagination .active a,
.pagination .active a:hover {
	color: #FFF;
	background: #b21a2d;
	border: 1px solid #000;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255, 0.3);
	text-decoration: none;
}

.pagination a:hover { text-decoration: underline; }


/* Product Single */

.product-left,
.product-right {
	width: 50%;
	float: left;
}

.product-left { padding-right: 10px; }

.page-title .price {
	float: right;
}

.page-title .from {
	font-size: 11px;
	color: #000;
}

.product-image {
	border: 3px solid #333;
	position: relative;
}

.special-offer .product-image {
	border-color: #e90e14;
}

.product-description {
	line-height: 1.5em;
	font-size: 13px;
}

.product-image img {
	width: 100%;
	height:auto;
	display: block;
}

.product-variants {
	list-style: none;
	margin:0;
	padding:0;
}

.product-variants .small { font-size:11px; }

.product-variants li {
	margin: 0;
	padding: 10px;
	background: #fafafa;
	border-bottom: 1px solid #fff;
}

.product-description .label,
.product-variants .label,
.product-variants .part_no {
	font-weight: bold;
	display: block;
	margin: 0 0 5px 0;
	font-size: 14px;
}
.product-variants .part_no {
	display: inline;
}

.price-breakdown {
	width:100%;
	text-align: center;
	color: #333;
}

.price-breakdown .label {
	width: 50%;
	text-align: left;
	font-weight: normal
}

.price-breakdown th,
.price-breakdown td {
	background: #fafafa;
	border-bottom:1px solid #fff;
	padding:5px 10px;
}

.price-breakdown-title span { font-size: 12px; color: #000; }

.add-to-cart {
	background:#b21a2d;
	padding: 0 10px;
	line-height: 30px;
	font-size:12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	color: #fff;
	margin: 10px 0 0 10px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: 	all 0.2s ease;
	-o-transition: 		all 0.2s ease;
	-ms-transition: 	all 0.2s ease;
	transition: 		all 0.2s ease;
	border-radius: 3px;
}

.add-to-cart:hover {
	background: #000;
}

.price-break {
	color: #b21a2d;
	font-weight: bold;
}

.product-description-full {
	font-size:12px;
	line-height: 1.5em;
}

.product-description-full a { color: #b21a2d; }

.product-description-full a:hover { text-decoration: underline; }

/* Social */

.social {
	list-style: none;
	margin: 10px 0 20px 0;
	padding: 0;
}

.social li {
	float: left;
	width:20%;
	text-align: center;
	font-size:30px;
}

.social .title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.social i {
	display: inline-block;
	margin-top: 9px;
}

.social a {
	color: #000;
}

.social a:hover { color: #b21a2d; }


/* The following CSS is for the Slider */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}


@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}


[class*="block-grid-"] {
	display: block;
	padding: 0;
	margin: 0 -5px;
}

.large-block-grid-3 > li:nth-of-type(3n+1) { clear: both; }

.large-block-grid-3 > li {
	width: 33.33333%;
	padding: 0 5px;
}

[class*="block-grid-"] > li {
	display: inline;
	height: auto;
	float: left;
}

[class*="block-grid-"]:before, [class*="block-grid-"]:after {
	content: " ";
	display: table;
}

[class*="block-grid-"]:after {
	clear: both;
}

.successmsg,
.errormsg {
	background: #b50000;
	padding: 10px;
	color: #fff;
	border-radius: 3px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
.successmsg { background: #61ce00; }

.successmsg a,
.errormsg a { color: #FFF; text-decoration: underline; }

.shippings table {
	background: white;
	margin-bottom: 1.25em;
	border: solid 1px #dddddd;
	width: 100%;
}

.shippings table th, .shippings table tfoot,
.orders table th, .orders table tfoot {
	background: #333;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	text-align: left;
}

.shippings table tr.even, .shippings table tr.alt, .shippings table tr:nth-of-type(even),
.orders table tr.even, .orders table tr.alt, .orders table tr:nth-of-type(even) {
	background: #f9f9f9;
	color: #000;
}

.basket td,
.confirm-details td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #eaeaea;
}

.baskets .button { margin-right: 10px; }

.content a:hover { color: #000; }

.shippings .content input[type="text"],
.shippings .content input[type="password"],
.shippings .content input[type="email"],
.shippings .content input[type="telephone"],
.shippings .content select {
	width: 100%;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.shippings .content select { margin-bottom: 20px; width: 100%; }

.basket .col1,
.confirm-details .col1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

.shippings .content label {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	display: block;
}

.shippings .content input[type="checkbox"] {
	display: inline;
	width: auto;
}

.shippings .content .name-check {
	margin-bottom: 20px;
	float: left;
}

.shippings .content fieldset {
	padding: 20px;
	margin-bottom: 20px;
	border: 3px solid #eaeaea;
}

.shippings .content legend {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding: 0 10px;
}

.shippings .content .name-back { float: left; }
.shippings .content .name-next { float: right; }

a .icon-delete { color: #d10000; }
a:hover .icon-delete { color: #000; }

.baskets .notify {
	font-size: 11px;
}

.content a.btn { color: #fff }

.page-form .field {
	margin-bottom:20px;
}

.page-form legend {
	display:none;
}

.page-form fieldset {
	padding: 20px;
	border: 1px solid #eaeaea;
}

.page-form input,
.page-form select,
.page-form textarea {
	width:100%;
	padding: 5px;
	margin-top:10px;
	border: 1px solid #999;
}
.page-form select,
.page-form input { width: 50%; }

.page-form input:focus,
.page-form textarea:focus {
	border: 1px solid #000;
}

.page-form textarea { height: 220px; }

.page-form input[type="submit"] {
	width: auto;
	border: none;
}

.page-form label {
	font-weight:bold;
	font-size:12px;
}

.quote-advert { text-align:center; }

.quote-advert h2 {
	margin:5px 0 0 0;
	text-align:center;
}

.quote-advert .btn {
	float: none;
	display:inline-block;
	margin: 10px 0;
}

/* RWD */

.top-bar {
	display: none;
}

.basket {
	margin-bottom: 20px;
}

.confirm-shipping {
	float: left;
	width: 50%;
}
.recent-posts.main-posts .post a img,
.post-icon img {
	height: auto!important;
}

@media screen and (max-width: 970px) {

	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	/* Page */

	.container {
		width: 100%;
	}
		.main {
			padding-bottom: 20px;
			margin-bottom: 0;
			overflow: hidden;
		}
			.sidebar,
			.sidebar:after {
				width: 25%;
			}
			.content {
				width: 75%;
				overflow: hidden;
			}
				.content-inner {
					width: 75%;
				}
				.content-sidebar,
				.content-sidebar-bg {
					width: 25%;
				}

	/* Misc */

	.btn, .button, input[type="submit"] {
		font-size: 14px;
		padding: 5px 15px;
		line-height: 1.5em;
		display: inline-block;
	}
	.recent-posts .post {
		margin-right: 0;
		overflow: hidden;
	}

	/* Sidebar */

	.box {
		padding: 10px;
	}
	.box-contact span {
		display: block;
	}
	.quote-advert .btn {
		width: auto;
	}

	/* Banner */

	.header-bottom {
		position: relative;
	}
		.banner {
			width: 70%;
		}
		.testimonial {
			width: 30%;
		}

	/* Nav */

	.primary-menu-bar .nav a {
		padding: 8px 15px;
	}

	/* Products */

	.info-box.product-box .overlay .btn-wrap,
	.product-box .overlay .price {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	.info-box.product-box .overlay .btn-wrap {
		margin-bottom: 5px;
	}

	/* Product Single */

	.page-title .price {
		display: block;
		float: none;
		margin-top: 10px;
	}

	/* Footer */

	.footer .widget-other-sites,
	.footer .widget-quick-links,
	.footer .widget-contact-us,
	.footer .widget-social-media {
		width: 50%;
	}
	.footer .widget-title {
		border-top: solid 1px #000;
	}

}
@media screen and (max-width: 768px) {

	/* Page */

	.sidebar,
	.sidebar:after {
		width: 30%;
	}
	.content {
		width: 70%;
		padding: 15px;
		overflow: hidden;
	}
	.content-inner,
	.content-sidebar,
	.content-sidebar-bg {
		float: none;
		width: 100%;
		clear: both;
	}
	.content-inner {
		margin-bottom: 20px;
		padding-right: 0;
	}
	.content-sidebar {
		position: relative;
	}

	/* Sidebar */

	.box-contact,
	.box-paymnt {
		text-align: center;
	}
	.box-contact {
		font-size: 16px;
	}
	.box-contact span {
		display: inline-block;
		margin-bottom: 5px;
	}

	/* Nav */

	.primary-menu-bar .nav a {
		padding: 8px 10px;
	}

	/* Footer */

	.footer .widget-other-sites {
		width: 65%;
	}
	.footer .widget-quick-links {
		width: 35%;
	}
		.footer .widget-title {
			text-align: left;
			padding-left: 10px;
		}



}
@media screen and (max-width: 767px) {

	/* Top Bar */

	.top-bar {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		width: 100%;
		background: #1D1D1D;
		color: #FFF;
		height: 40px;
		overflow: hidden;
		cursor: pointer;
	}
		.top-bar .shownav {
			float: left;
			padding: 10px 20px;
			text-transform: uppercase;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
		.top-bar .shownav.active {
			background: #000;
		}
			.top-bar .shownav i {
				font-size: 21px;
				vertical-align: -3px;
				margin-right: 5px;
			}
		.top-bar a {
			float: right;
			color: #FFF;
			padding: 10px;
		}
			.top-bar a i {
				margin-right: 2px;
				vertical-align: -1px;
			}

	/* Header */

	.header {
		padding-top: 40px;
	}

	/* Nav */

	.primary-menu-bar {
		position: fixed;
		top: 40px;
		left: -100%;
		width: 100%;
		height: 100%;
		z-index: 9998;
		overflow-y: auto;
		padding: 0 0 40px 0;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

	}
	.primary-menu-bar.active {
		left: 0;
	}
		.primary-menu-bar .nav {
			float: none;
			margin: 5px;
			overflow: auto;
		}
			.primary-menu-bar .nav li {
				margin: 0;
				width: 25%;
				text-align: center;
			}
				.primary-menu-bar .nav a {
					border-radius: 0;
					padding: 10px;
					line-height: 1.5;
					display: block;
					margin: 5px;
				}
		.header .search-form {
			float: none;
			margin: 10px;
			width: auto;
		}
			.header-search {
				width: 100%;
				padding: 8px;
				height: auto;
				line-height: 1.5;
				border-radius: 0;
			}

	/* Misc */

	table {
		max-width: 100%;
		width: 100%;
	}
	.category-description table,
	.category-description table thead,
	.category-description table tbody,
	.category-description table tr,
	.category-description table th,
	.category-description table td {
		display: block;
		width: 100%;
	}

}
@media screen and (max-width: 640px) {

	.main {
		padding-bottom: 0;
	}

}
@media screen and (max-width: 640px) and (orientation: portrait) {

	/* Page */

	.content,
	.sidebar {
		float: none;
		width: 100%;
	}
	.sidebar {
		overflow: hidden;
	}
	.sidebar:after {
		display: none;
	}

	/* Misc */

	.product-box img {
		width: 100%!important;
		height: auto!important;
	}

}
@media screen and (max-width: 600px) {

	/* Page */

	.content,
	.sidebar {
		float: none;
		width: 100%;
	}
	.sidebar {
		overflow: hidden;
	}
	.sidebar:after {
		display: none;
	}

	/* Nav */

	.primary-menu-bar .nav li {
		width: 50%;
	}

	/* Misc */

	.large-block-grid-3 > li {
		width: 50%;
	}
	.large-block-grid-3 > li:nth-of-type(3n+1) {
		clear: none;
	}
	.large-block-grid-3 > li:nth-of-type(2n+3) {
		clear: both;
	}
	.product-box img {
		width: 100%!important;
		height: auto!important;
	}

}
@media screen and (max-width: 615px) {

	/* Header */

	.logo,
	.cart {
		float: none;
		width: 100%;
		position: relative;
	}
	.logo {
		margin-top: 10px;
		overflow: hidden;
	}
		.logo a {
			display: block;
		}
		.logo-text {
			margin-bottom: 20px;
		}
		.logo-icon {
			left: 10px;
		}
		.cart {
			overflow: hidden;
			background: #333;
		}
			.cart-inner {
				border-radius: 0;
				width: 100%;
				float: left;
				width: 63%;
				padding-left: 10px;
			}
			.cart-icon {
				display: none;
			}
			.cart .btn {
				width: 35%;
				margin: 8px 2% 0 0;
				float: right;
			}

}
@media screen and (max-width: 500px) {

	/* Banner */

	.header-bottom {
		display: none;
	}
	.home .header-bottom {
		display: block;
	}

	.banner,
	.testimonial {
		float: none;
		width: 100%;
		height: auto;
	}
	.banner {
		position: static;
	}
		.flexslider .slides img {
			width: 100%;
			height: auto;
		}
	.testimonial {
		margin-bottom: 10px;
	}
		.quote {
			height: auto;
		}

	/* Nav */

	.primary-menu-bar .nav {
		margin: 10px 5px 0;
	}
		.primary-menu-bar .nav li {
			float: none;
			width: 100%;
		}
			.primary-menu-bar .nav a {
				margin: 0 5px 10px;
				padding: 7px;
			}
	.header .search-form,
	.header-search {
		margin-top: 0;
	}

	/* Footer */

	.footer .widget-other-sites,
	.footer .widget-quick-links,
	.footer .widget-contact-us,
	.footer .widget-social-media {
		float: none;
		width: 100%;
	}
	.footer .widget-body {
		height: auto;
		border: none;
	}
	.footer .widget-title {
		border: solid 1px #000;
	}

	/* Basket */

	.shippings .content fieldset {
		width: 100%!important;
		float: none!important;
	}
	.shippings .content label {
		margin-bottom: 5px;
	}
	.shippings .content input {
		margin-bottom: 10px;
	}
	.basket, .basket thead, .basket tbody, .basket tbody th, .basket tbody td, .basket tbody tr {
		display: block;
	}
	.basket tfoot {
		display: block;
		width: 100%;
	}
		.basket tfoot tr {
			display: block;
			background: #EEE!important;
			width: 100%;
			overflow: hidden;
		}
		.orders table tfoot {
			background: none;
			color: #222;
			padding: 0;
		}
			.basket tfoot td {
				float: left;
				display: block;
				text-align: left!important;
				background: #EEE;
				border: none;
			}
	.basket thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.basket tbody tr {
		border-bottom: solid 1px #EAEAEA;
	}
	.basket tbody td {
		border: none;
		position: relative;
		padding-left: 50%;
		text-align: left!important;
	}
	.basket tbody td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		font-weight: bold;
	}
	.confirm-shipping {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}

	/* Basket Page */

	.baskets .basket tbody td:nth-of-type(1):before { content: "Delete"; }
	.baskets .basket tbody td:nth-of-type(2):before { content: "Product Details"; }
	.baskets .basket tbody td:nth-of-type(3):before { content: "Product No"; }
	.baskets .basket tbody td:nth-of-type(4):before { content: "Unit Cost"; }
	.baskets .basket tbody td:nth-of-type(5):before { content: "Quantity"; }
	.baskets .basket tbody td:nth-of-type(6):before { content: "Line Value"; }

	/* Confirmation */

	.orders .basket tbody td:nth-of-type(1):before { content: "Product Details"; }
	.orders .basket tbody td:nth-of-type(2):before { content: "Product No"; }
	.orders .basket tbody td:nth-of-type(3):before { content: "Unit Cost"; }
	.orders .basket tbody td:nth-of-type(4):before { content: "Quantity"; }
	.orders .basket tbody td:nth-of-type(5):before { content: "Line Value"; }

	/* Single Product */

	.column.three {
		width: 50%;
	}

}
@media screen and (max-width: 420px) {

	/* Products */

	.product-left,
	.product-right {
		float: none;
		width: 100%;
	}
	.add-to-cart {
		margin: 0 0 20px;
	}
	.product-variants {
		margin-bottom: 10px
	}
		.product-variants li {
			padding-left: 0;
			background: none;
		}
			.product-variants li input,
			.product-variants li select {
				border: solid 1px #DDD;
				padding: 5px 7px;
			}

	/* Footer */

	.widget-other-sites li {
		float: none;
		width: 100%;
		height: auto;
	}

}
@media screen and (max-width: 360px) {

	/* Misc */

	.large-block-grid-3 > li {
		width: 100%;
		float: none;
	}
	.column.three {
		width: 100%;
		float: none;
	}

	/* Products */

	.info-box.product-box .overlay .btn-wrap,
	.product-box .overlay .price {
		float: right;
		margin: 0;
		text-align: left;
	}
	.product-box .overlay .price {
		float: left;
	}

	/* Basket */

	.baskets .button {
		float: none!important;
		width: 100%;
		margin-bottom: 10px;
	}

}
