body {padding-top:30px;}

.toolBarFloat {
	position:fixed;
	top:0;left:0;
	background:#466B7A;
	color:#111;
	width:100%;
	border-bottom:2px solid #222;
}
.toolBarFloat .toolBarNav {
	padding:0 10px;
	margin:0 0;
	line-height:28px;
}
.toolBarFloat .toolBarNav ul {
	margin:0;
	padding:0 20px;
	list-style-type:none;
}
.toolBarFloat .toolBarNav li {
	display:inline;
	text-transform:uppercase;
	float:left;
}

.toolBarFloat .toolBarNav li.right {
	float:right;
}
.toolBarFloat .toolBarNav a {
	padding:0 15px;
	color:#fff;
	font-weight:bold;
	font-size:12px;
}
.toolBarFloat .toolBarNav a:hover {
	color:#9ABAC7;
}
.toolBarFloat .toolBarNav li.active a {
	color:#9ABAC7;
}

/* Contain floats:h5bp.com/q */ 
.clearfix:before, .clearfix:after { content:"";display:table;}
.clearfix:after { clear:both;}
.clearfix { zoom:1;}